######################################################################
# IDEs & Editors
######################################################################
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

######################################################################
# Build / Output
######################################################################
# Gradle
.gradle/
build/
out/

# Node (프론트 대비)
node_modules/
dist/

######################################################################
# OS Files
######################################################################
.DS_Store
Thumbs.db

######################################################################
# Logs
######################################################################
*.log

######################################################################
# Environment / Secrets
######################################################################
.env
.env.*

# Spring Boot
application-local.yml
application-dev.yml
application-prod.yml

######################################################################
# Etc
######################################################################
coverage/