######################################################################
# IDEs & Editors
######################################################################
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

######################################################################
# Build / Output
######################################################################
# Gradle
.gradle/
build/
out/
docs/

# Node (프론트 대비)
node_modules/
dist/

# ai
__pycache__/
.venv/

######################################################################
# OS Files
######################################################################
.DS_Store
Thumbs.db

######################################################################
# Logs
######################################################################
*.log

######################################################################
# Environment / Secrets
######################################################################
.env
.env.*

# Spring Boot
application-local.yml
application-dev.yml
application-prod.yml

######################################################################
# Etc
######################################################################
coverage/

# SSL Certs
nginx/certs/

# Firebase service account secrets
be/src/main/resources/firebase/firebase-service-account.json
secrets/
**/firebase-service-account.json
