@import 'tailwindcss';

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

@theme {
  --animate-shimmer: shimmer 1.4s infinite linear;
  --font-sans: 'Noto Sans KR', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Apple SD Gothic Neo',
    'Malgun Gothic', Arial, sans-serif;

   /* primary*/
  --color-primary-100: #ff7a3d;

  /* surface (카드 배경) */
  --color-surface-100: #FFF3EC;
  --color-surface-200: #FFFBF7;

  /* accent (강조 / 포인트) */
  --color-accent-100: #0e1a3d;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    min-height: 100%;
    background-color:#fcfaf8;
  }

  body {
    margin: 0;
    font-family: var(--font-sans);
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }
}
